* {
    background: #ccb7c2;
}

.header {
    text-align: center;
}

.header {
    background-color: #907F88;
    color: white;
    padding: 20px;
}

.lists {
    background-color: #ccb7c2;
    padding: 20px;
}

p {
    font-size:18px;
    color:black;
}

.button {
    width:150px;
    padding: 5px;
    display:block;
    margin-top: 10px;
    color:#000000;
    text-decoration: none;
} 